<div class="container-fluid">
  <div class="row">
    <div class="col-2 mt-4 ml-5">
      <div class="border border-dark">
        <p class="text-center m-auto border-bottom border-dark">ジャンル検索</p>
        <div class="d-flex flex-column ml-3">
          <% @genres.each do |genre| %>
            <%= link_to genre.name, items_path(genre_name: genre.name) %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class=" mx-auto col-6" style="margin-top: 100px;">
        <p class="border border-dark py-5">ようこそ、ながのcakeへ！</br>このサイトは、ケーキ販売のECサイトになります。</br>会員でない方も商品の閲覧はできますが、</br>購入には会員登録が必要になります。</p>
      </div>
      <h2>新着商品</h2>
      <div class="d-flex align-items-end">
        <% @items.each do |item| %>
        <div class="d-flex flex-column mr-4">
          <% if item.image.attached? %>
            <%= link_to (image_tag item.image,size: "100×100"), item_path(item.id) %>
          <% else %>
            <%= image_tag 'no_image', size: "100×100" %>
          <% end %>
          <%= item.name %></br>
          ¥<%= item.with_tax_price %>
        </div>
        <% end %>
      </div>
    <div class="d-flex justify-content-end">
      <%= link_to "全ての商品を見る＞", items_path %>
    </div>
  </div>
</div>