<h2>配送先編集</h2>
<%= form_with model: @address,url: address_path do |f| %>
<table>
  <tr>
    <td>郵便番号（ハイフンなし）</td>
    <td><%= f.text_field :postal_codelass, class: "form-control" %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= f.text_field :address, class: "form-control" %></td>
  </tr>
  <tr>
    <td>宛名</td>
    <td><%= f.text_field :name, class:"form-control" %></td>
    <td><%= f.submit "変更内容を保存", class: "btn btn-secondary" %></td>
  </tr>
</table>
<% end %>