<div class="container-fluid">
  <div class="offset-1 mt-4">
    <h4 class="col-2 bg-secondary text-center mb-5 ml-5">新規会員登録</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :"名前" %>
    (性)
    <%= f.text_field :first_name %>
    (名)
    <%= f.text_field :last_name %></br>
    
    <%= f.label :"フリガナ" %>
    (セイ)
    <%= f.text_field :first_name_kana %>
    (メイ)
    <%= f.text_field :last_name_kana %></br>
    
    <%= f.label :"メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %></br>
    
    <%= f.label :"郵便番号(ハイフンなし)" %>
    <%= f.text_field :postal_code %></br>
    
    <%= f.label :"住所"%>
    <%= f.text_field :address %></br>
  
    <%= f.label :"電話番号(ハイフンなし)"%>
    <%= f.text_field :telephone_number %></br>
  
    <%= f.label :パスワード（６文字以上） %>
    <%= f.password_field :password, autocomplete: "new-password" %></br>
  
    <%= f.label :パスワード（確認用） %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h4>既に登録済みの方</h4>
<p><a href="/customers/sign_in">こちら</a>からログインしてください。</p>
  </div>
</div>