<div class="container-fluid">
  <div class="offset-2 mt-4">
<h4 class="col-2 bg-secondary text-center mb-4 ml-2">ログイン</h4>
<p class="col-3 bg-secondary text-center mb-4 ml-4">会員の方はこちらからログイン</p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="offset-2">
  <div class="field">
    <%= f.label :"メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %></br>
  
    <%= f.label :"パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
  </div>
<% end %>

<h4 class="col-4 bg-secondary text-center mt-5 ml-4 mb-4">会員登録がお済みでない方</h4>
<P class="offset-2"><a href="/customers/sign_up">こちら</a>から新規登録を行ってください。</P>
  <div class="row" style="height:150px"></div>
  </div>
</div>